*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to bottom, rgba(27, 27, 32, 0.52), rgba(14, 11, 13, 0.73)),
    url('img/monika-grabkowska-P1aohbiT-EY-unsplash.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
img{
    width: 90px;
    cursor: pointer;
    height: 120px;
}
.header{
    width: 100%;
    height: 100vh;
    padding: 0 10%;
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    position: relative;
    z-index: 1;
}
nav ul li a:hover{
    color: #F69B02;
    transition: all 0.6s ease 0s;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 10px;
}
nav ul li a{
    text-transform: uppercase;
    font-size: 15px;
    padding: 0px;
    font-style: normal;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: white;
}
.text-box{
    margin-top: 70px;
}
.text-box h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 44px;
    color:#ffffff;
    margin-bottom: 20px;
}
.text-box p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    color:#ffffff;
    margin-bottom: 20px;
}
.text-box button{
    padding:  10px 30px;
    border-radius: 5px;
    font-size: 13x;
    background-color: #F69B02;
    color: #ffffff;
    font-weight: bold;
}
.text-box button:hover{
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 13x;
    background-color: #ffffff;
    color: #F69B02;
    font-weight: bold;
    border: solid #F69B02;
    transition: all 0.6s ease 0s;
}
.user{
    position: absolute;
    top: 0;
    right: 12%;
    
}
.user img{
    display: block;
    padding-top: 100px;
    width: 410px;
    height: 510px;
    margin-bottom: -200px;
}
.container{
    width: 90%;
    display: grid;
    align-items: center;

    margin-left: 30px;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    justify-content: center;
    height: 100vh;
    grid-gap: 20px;
}
.box{
    height: 290px;
    border-radius: 5px;
    color: #ffffff;
    background-color: #F69B02;

}
.box button{
    border-radius: 50px;
    padding: 8px;
    font-weight: 200;
    margin-top: 25px;
    background-color: #ffffff;
    color: #F69B02;
    border: solid 2px #ffffff;
    font-size: 16px;
    
}
.box:hover{
    background-color: #ffffff;
    color: #F69B02;
    transition: all 0.8s ease 0s;
   
}
.box button:hover{
    background-color: #F69B02;
    color: #ffffff;
    transition: all 0.6s ease 0s;
}
.box ,h2{
    font-size: 16px;
    font-style: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.content{
    margin-top: 20px;
    background-color: #F69B02;
    padding: 20px;
    margin-left: 30px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(205px,1fr));
}
.content img{
    width: 100%;
    height: 70vh;
}
.box1 h3{
    font-size: 32px;
    font-weight: 600;
    margin-left: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    
}
.box1 p{
    font-size: 20px;
    margin-top: 20px;
    font-weight: 100;
    margin-left: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
.box1 button{
    font-size: 15px;
    margin-top: 10px;
    background-color: #ffffff;
    margin-left: 40px;
    padding: 12px;
    border: #ffffff solid 2px;
    color: #F69B02;
    border-radius: 8px;
}
.form{
    background-color: #F69B02;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(205px,1fr));
    margin-left: 30px;
    margin-top: 10px;
}
.box2{
    margin-left: 30px;
    margin-top: 20px;
    height: 60vh;
}
.box2 h1{
    font-size: 30px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.box2 p{
    margin-top: 20px;
    font-size: 24px;
    color: white;
    text-align: left;

}
.box2 label{
    font-size: 20px;
    font-weight: 300;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.box2 input{
    
    margin-top: 20px;
    font-size: 12px;
    font-weight: 300;
    color: rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 32px;
    width: 60%;
    border: #F69B02 solid 3px;
    border-radius: 7px;
}
.box2 input:focus{
    color: rgb(173, 0, 0);
}
input::placeholder{
    font-size: 15px;
    opacity: 50%;
}
.box2 button{
    padding: 10px;
    border-radius: 9px;
    color: #F69B02;
    border: #ffffff 2px solid;
    margin: 20px;
    margin-left: 50px;
}

@media (max-width: 952px){
    .user img{
        display: none
    }
    nav{
        width: 100%;
        display: inline-block;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        padding: 20px 0;
        position: relative;
        z-index: 1;
    }
    .content{
        margin-top:1200px;
    }
    .content h1{
        margin-top: 1300px
    }
};
    
